body {
  width: 100%;
  margin-top: 5%;
}

.row-card {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  background: linear-gradient(
    #4366a4,
    #6f76a4,
    #8f82a5,
    #b092a5,
    #b595a5,
    #cfada7
  );
  border-radius: 20px;
  border-color: #d0e3df;
  display: block;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h3 {
  color: whitesmoke;
  font-size: 65px;
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
p {
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: whitesmoke;
}

.body {
  padding: 0 15px;
  margin: 15px 0;
}

#current-time {
  text-align: left;
  margin-top: 5px;
  color: whitesmoke;
}
#temperature {
  text-align: center;
}
#tempInDegrees {
  font-size: 18px;
}

.p .date {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

::placeholder {
  font-style: italic;
  text-align: center;
}
.btn-light {
  background-color: #7478a4;

  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  transition: all 240ms ease-in-out;
}
.btn-light:hover {
  background-color: #595b7f;
  color: black;
  opacity: 0.5;
}
.forecast-day {
  color: whitesmoke;
  margin-bottom: 15px;
}
#forecast {
}
#forecast:hover {
  color: whitesmoke;
  opacity: 0.8;
}

#current-temp {
  font-size: 60px;
  text-align: center;
  color: whitesmoke;
}

#searchForm,
#search-engine {
  border-radius: 25px;
  border: none;
  vertical-align: middle;
  display: flex;
}

#search-engine {
  flex-grow: 1;
  margin-right: 5px;
}

#searchForm button {
  margin: 0 5px;
}

#celsius-link,
#fahrenheit-link {
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
#celsius-link:hover,
#fahrenheit-link:hover {
  color: white;
}
#min-max,
#info {
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
#source-code {
  text-align: center;
  margin-left: 0 auto;
  color: black;
  display: block;
}

#wind-humidity {
  color: whitesmoke;
}
#forecast-icon {
  width: 100%;
}
@media (min-width: 576px) {
  #searchForm,
  h1,
  #forecast-day,
  #current-time {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    margin-top: 6em;
    margin: 0 auto;
    display: block;
    max-width: 550px;
    min-width: 550px;
  }
}
